/*.App {
}

body, html {
    height: 100%;
    margin: 0;
    background: rgb(170,75,107);
    background: linear-gradient(90deg, rgba(170,75,107,1) 0%, rgba(248,131,121,1) 64%, rgba(253,227,214,1) 90%);
}

.loginForm{
  border: 2px black solid;
  border-radius: 25px;
  background: rgba(253, 227, 214, 0.25);
  width: 80vw;
  max-height: 300px;
  position: absolute;
  padding: 50px;
  margin: 50px;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
*/
