html,
body {
  margin: 0;
}

.loginFormContainer{
  height: 100vh;
}

.loginForm{
  max-width: 450px;
  border: black solid 2px;
  padding: 25px;
}

.sidediv{
  padding: 10px;
  min-width: 275px;
  max-width: 275px;
  height: 100vh;
  background: #373a47;
  color: white;
  overflow: auto;
}

.maindiv{
  padding: 20px;
}

.messagesDisplay {
  position: relative;
  border: black solid 2px;
  height: calc(100vh - 90px);
  padding-top: 75px;
  padding: 0px;
}

.messages{
  position: relative;
  max-height: calc(100vh - 175px);
  overflow: auto;
}

.messagesPadding{ 
  padding: 10px;
  height: calc(100vh - 90px);
  width: 100%; 
  overflow: auto;
}

.messageInput{
  height: 50px;
  width: 100%; 
  position: absolute;
  bottom: 2px;
  background-color: white;
}

form .form-control:focus{
  border-color: #ced4da;
  box-shadow: none;
}

.btn-outline-secondary{
  background-color: #2ba6cb;
  color: white;
}

.typingMessage{
  position: absolute;
  bottom: 63px;
  left: 8px;
  height: 15px;
}

.userDiv {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 230px;
  width: 230px;
  background-color: #2ba6cb;
  cursor: pointer;
}

.userDivActive{
  background-color: white;
  text-align: left;
}
